@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(./img/pexels.jpg) no-repeat center /cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 280px;
    padding-left: 30px;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;

}

header .navigation{
    position: relative;
    display: flex;
}

header .navigation li{
    list-style: none;
}

header .navigation li a {
    display: inline-block;
    color: #fff;
    margin-right: 40px;
    text-decoration: none;
}

header .navigation li a:hover {
    color: #03a9f4; 
}

.content{
    max-width: 520px;
}

.content .contenBx h2 {
    font-size: 50px;
    color: #fff;
    font-weight: 300;
    margin: 20px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content .contenBx p {
    color: #fff;
}

.content .contenBx a {
    display: inline-block;
    padding: 10px 30px;
    background: #03a9f4;
    color: #fff;
    text-decoration: none;
    margin-top: 15px;
}

.sci{
    position: absolute;
    bottom: 15px;
    display:flex;
}

.sci {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
}

.sci li a{
    position: relative;
    display: inline-block;
    margin-right: 20px;
    filter: invert(1);
    transform: scale(0.8);
}

@media (max-width: 990px)
{
    header{
        padding: 15px 10px;
        background-position: center;
    }

    header .navigation {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #000;
        z-index: 10;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    header .navigation.active{
        display: flex;
    }

    header .navigation li a {
        font-size: 24px;
        margin: 10px 0;
    }

    .toggleMenu {
        position: relative;
        width:  30px;
        height: 30px;
        background: url(./img/menu.png);
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 11;
    }

    .toggleMenu.active {
        background: url(./img/close.png);
        background-position: center;
        background-size: 25px;
        background-repeat: no-repeat;

    }

    .content .contenBx h2{
        font-size: 2.5em;
    }

    .content .contenBx p{
        font-size: 1em;
    }
}